 .body{

    font: 20px "Rawline,-apple-system,BlinkMacSystemFont";
  
 }
 
 
 .navbar{
     background-color:#ee7b24;
     color: white;
 }

 .quem-somos{

    background-color:#421142;
    color: aliceblue;
 }
 .margin {
     padding-top: 10px;
     padding-bottom: 30px;
 }
 .parceiros{
     background-color:#bbb7b2	;
     text-align: center;
 }
 .bg-footer{
     background-color: #110211;
     color:#ee7b24;
 }